.academy-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  font-size: 16px;
  line-height: 1;
  font-family: $fontFamily;
  text-align: left;
  color: $fontColor;
  text-decoration: none;
}

.academy-logo__image {
  width: 41px;
  height: 48px;
  margin-right: -7px;

  color: #666666;

  @media (min-width: $tablet) {
    margin-left: 16px;
  }
}

.academy-logo:hover .academy-logo__image,
.academy-logo:active .academy-logo__image {
  color: $accentColor;
}

.academy-logo:active .academy-logo__image {
  opacity: 0.3;
}
