.additionals {
  overflow-x: hidden;

  @media (min-width: $desktop) {
    padding-bottom: 85px;
  }
}

.additionals__title {
  padding: 28px 0 30px 20px;

  white-space: nowrap;

  .subtitle__text {
    max-width: none;

    @media (min-width: $desktop) {
      padding-left: 35px;
    }
  }

  @media (min-width: $tablet) {
    padding: 20px 0 78px 28px;
  }

  @media (min-width: $desktop) {
    padding: 43px 0 78px 44px;

    @include container;
  }
}

.additionals__wrapper {
  @media (min-width: $desktop) {
    display: flex;

    @include container;
  }
}

.additionals__list {
  @media (min-width: $desktop) {
    flex-basis: 75%;
  }
}

.additionals__gift {
  padding: 39px 20px 35px;

  @media (min-width: $tablet) {
    padding: 70px 30px 75px;
  }

  @media (min-width: $desktop) {
    flex-basis: 25%;
    padding: 0 40px;
  }
}
