.catalog-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1px;
  padding: 0 17px 29px;

  border: 1px solid #ededed;

  @media (min-width: $tablet) {
    // flex-direction: column;
    // flex-wrap: nowrap;
    display: block;
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 20px 0 43px;

    background-color: #f2f2f2;
    border: none;
  }

  @media (min-width: $desktop) {
    margin-bottom: 52px;
    padding-bottom: 37px;
  }
}

.catalog-item__image {
  flex: 50% 0 0;

  text-align: center;

  picture {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: flex-end;
    height: 208px;
    margin-top: -97px;
  }
}

.catalog-item__info {
  flex: 50% 0 0;
  padding-top: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    padding: 33px 37px 40px;
  }
}

.catalog-item__action {
  flex: 100% 0 0;
  margin: -5px 0 0;
  padding: 0 2px;

  .button {
    font-size: 16px;
  }

  @media (min-width: $tablet) {
    flex-basis: auto;
    padding: 0 35px;

    .button {
      height: 40px;
    }
  }

  @media (min-width: $desktop) {
  }
}
