.catbag {
  width: 100%;
  min-height: 289px;

  text-align: center;
  color: #ffffff;

  background-color: $accentColor;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }

  &::before {
    content: "";

    display: block;
    width: 55px;
    height: 55px;
    margin: auto;
    padding: 94px 0;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet) {
      margin: 1px 91px;
    }

    @media (min-width: $desktop) {
      margin: 0 auto;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    min-height: 200px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    height: 100%;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}

.catbag__text {
  max-width: 175px;
  margin: auto;

  font-size: 16px;
  line-height: 1.25;
  font-family: $fontFamily;
  text-align: center;
  color: rgb(255, 255, 255);

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    max-width: 161px;
    margin: auto 126px auto auto;

    text-align: left;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin: -1px auto 0;

    text-align: center;
  }
}
