.dealers {
  display: flex;
  align-items: center;
  padding: 29px 19px 25px;

  &--grey {
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet) {
    padding: 30px 70px;
  }

  @media (min-width: $desktop) {
    width: 570px;

    background-color: #ffffff;
  }
}

.dealers__title {
  flex-basis: 50%;
  margin: 0;

  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  letter-spacing: -0.5px;

  @media (min-width: $tablet) {
    flex-basis: 170px;

    font-size: 20px;
  }
}

.dealers__address {
  flex-basis: 50%;

  font-style: normal;
  font-size: $fontSize;
  line-height: 1.429;
  font-family: $fontFamily;
  text-align: left;
  color: rgb(68, 68, 68);

  @media (min-width: $tablet) {
    flex-basis: 180px;
    margin-left: auto;

    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}
