.example {
  padding: 0 20px 40px;

  background-color: #f2f2f2;
}

.example__title {
  margin: 20px 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.667;
  text-align: left;
  color: $titleColor;
}

.example__description {
  font-size: $fontSize;
  line-height: 1.286;
  font-family: $fontFamily;
  text-align: left;
  color: $fontColor;
}

.example__statistics {
  padding-bottom: 10px;
}

.example__cost {
  padding: 10px 0;

  font-size: $fontSize;
  line-height: 1.429;
  text-align: center;
  color: $titleColor;
  text-transform: uppercase;
}
