.example {
  padding: 17px 20px 34px;

  background-color: #f2f2f2;

  @media (min-width: $tablet) {
    position: relative;

    padding: 0;

    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop) {
    padding-bottom: 44px;

    background: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 27%, rgba(242, 242, 242, 1) 27%, rgba(242, 242, 242, 1) 100%);
    border-top: none;
  }
}

.example__wrapper {
  @media (min-width: $tablet) {
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;

    @include container;
  }
}

.example__title {
  margin: 0 0 23px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.667;
  text-align: left;
  color: $titleColor;

  @media (min-width: $tablet) {
    margin: 23px 0 45px;
    padding: 0 30px;

    font-size: 60px;
  }

  @media (min-width: $desktop) {
    flex-basis: 100%;
    margin: 19px 0 86px;
    padding: 0 40px;
  }
}

.example__text {
  flex-basis: 50%;
}

.example__description {
  max-width: 270px;
  margin-bottom: 25px;

  font-size: $fontSize;
  line-height: 1.286;
  font-family: $fontFamily;
  text-align: left;
  color: $fontColor;

  @media (min-width: $tablet) {
    margin: 40px 0 43px;
    padding: 0 30px;

    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop) {
    max-width: 515px;
    margin-bottom: 74px;
    padding: 0 40px;
  }
}

.example__statistics {
  padding-bottom: 14px;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    flex-wrap: wrap;
    padding: 0 40px;
  }
}

.example__cost {
  padding: 20px 0;

  font-size: $fontSize;
  line-height: 1.429;
  text-align: center;
  color: $titleColor;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    flex-basis: 190px;
    margin-left: auto;
    padding: 17px 0 27px;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop) {
    flex-basis: 100%;
    width: 100%;
    max-width: 340px;
    margin-left: 0;
    padding-top: 51px;

    text-align: left;
  }
}
