.form {
  width: 100%;

  @media (min-width: $tablet) {
    padding-bottom: 72px;
    overflow-x: hidden;
  }

  @media (min-width: $desktop) {
    padding-bottom: 81px;
  }
}

.form__title {
  max-width: 275px;
  margin-top: 0;
  margin-bottom: 6px;
  padding: 0 20px;

  font-weight: normal;
  font-size: $fontSize;
  line-height: 1.2;
  color: $titleColor;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    max-width: 370px;
    margin-left: 51px;

    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $desktop) {
    padding: 0 40px;

    @include container;

    .form__title-wrap {
      max-width: 345px;
    }
  }
}

.form__box {
  padding: 20px;


  @media (min-width: $tablet) {
    padding: 40px 30px;
  }

  @media (min-width: $desktop) {
    padding: 46px 40px;

    @include container;
  }

  &--contacts {
    padding: 16px 19px 6px;

    @media (min-width: $tablet) {
      padding: 23px 30px 14px;
    }

    @media (min-width: $desktop) {
      padding: 56px 40px 47px;
    }
  }

  &--comments {
    padding: 17px 20px 6px;

    @media (min-width: $tablet) {
      padding: 23px 30px 14px;
    }

    @media (min-width: $desktop) {
      padding: 53px 40px 47px;
    }
  }

  &--checkgroup {
    padding: 20px 20px 17px;

    @media (min-width: $tablet) {
      padding: 12px 30px 18px;
    }

    @media (min-width: $desktop) {
      padding: 40px 0 25px;
    }
  }
}

.form__subtitle {
  padding: 8px 20px 0;
  overflow-x: hidden;

  @media (min-width: $tablet) {
    padding: 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 40px;

    @include container;
  }
}

.form__group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 14px 0;
  padding: 0;

  border: none;

  &--iconed {
    position: relative;
  }

  @media (min-width: $tablet) {
    margin: 20px 37px 20px 41px;
  }

  @media (min-width: $desktop) {
    margin: 20px 0;
  }
}

.form__checkgroup {
  margin-top: 7px;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    .checkbox {
      flex-basis: 50%;

      &:nth-child(odd) {
        padding-right: 30px;
        padding-left: 40px;
      }

      &:nth-child(even) {
        padding-right: 40px;
        padding-left: 30px;
      }
    }
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
    margin-left: 0;

    .checkbox {
      flex-basis: 25%;

      &:nth-child(odd) {
        padding-right: 40px;
      }

      &:nth-child(even) {
        padding-left: 40px;
      }
    }
  }
}

.form__radiogroup {
  margin-top: 23px;
  margin-right: -20px;
  margin-left: -20px;
  padding: 14px 19px 16px;

  border: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    margin-top: 72px;
    margin-right: 40px;
    margin-bottom: 5px;
    margin-left: 40px;
    padding: 20px 27px 18px;
  }

  @media (min-width: $desktop) {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 80px;
  }
}

.form__label {
  display: inherit;
  align-items: center;
  width: 100%;

  font-size: 16px;
  line-height: 1.125;
  color: #222222;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.form__input {
  display: inherit;
  flex-grow: 1;
  flex-basis: 50%;
  height: 45px;
  margin-left: 12px;
  padding: 5px 15px;

  font-size: 16px;
  line-height: 1.125;
  font-family: $fontFamilyAccent;
  color: $fontColor;
  text-transform: uppercase;

  border: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    height: 52px;
    margin-left: 16px;
    padding: 5px 18px;

    font-size: 20px;
  }

  &--textarea {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 150px;
    margin-left: 0;
    padding: 13px 12px 13px 14px;

    resize: vertical;

    @media (min-width: $tablet) {
      min-height: 175px;
      padding: 14px 17px;
    }
  }

  &:hover,
  &:focus {
    border-color: #cdcdcd;
    outline: none;
  }

  &:active {
    border-color: #444444;
    outline: 1px solid #444444;

    .form__input-icon {
      fill: $accentColor;
    }
  }
}

.form__input-icon {
  position: absolute;
  top: 2px;
  right: 4px;

  width: 41px;
  height: 41px;
  padding: 12px;

  background-color: #ffffff;

  fill: #222222;

  @media (min-width: $tablet) {
    top: 5px;
    right: 6px;
  }
}

.form__button-row {
  padding: 0 20px;

  .button {
    font-size: 16px;

    @media (min-width: $tablet) {
      margin-right: 30px;

      font-size: 20px;
    }

    @media (min-width: $desktop) {
      margin-right: 40px;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    padding: 0 70px;
  }

  @media (min-width: $desktop) {
    padding: 0 40px;

    @include container;
  }
}

.form__hint {
  margin: 20px 0 32px;

  font-size: $fontSize;
  line-height: 1.143;
  font-family: $fontFamily;
  text-align: center;
  color: $fontColor;

  @media (min-width: $tablet) {
    flex-shrink: 0;
    flex-basis: 50%;
    margin: 16px 0;
    padding-left: 30px;

    font-size: 16px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    padding-left: 40px;
  }
}

.form__group.form__group--error {
  .form__input {
    border-color: #ff8282;
    outline: 1px solid #ff8282;
  }

  .form__input-icon {
    fill: #ff8282;
  }
}

.form__row {
  @media (min-width: $desktop) {
    display: flex;

    @include container;

    > .form__row-item {
      flex-shrink: 0;
      flex-basis: calc(50% - 40px);
    }

    &--contacts {
      .form__group {
        flex-basis: 50%;

        &:first-child {
          margin-right: 40px;
        }

        &:last-child {
          margin-left: 40px;
        }
      }
    }
  }
}
