.form {
  width: 100%;
}

.form__title {
  padding: 0 20px;

  font-size: $fontSize;
  line-height: 1.286;
  color: $titleColor;
  text-transform: uppercase;
}

.form__box {
  padding: 20px;

  border-bottom: 1px solid #ededed;
}

.form__group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 15px 0;
  padding: 0;

  border: none;
}

.form__label {
  display: inherit;
  align-items: center;

  font-size: 16px;
  line-height: 1.125;
  color: #222222;
  text-transform: uppercase;
}

.form__input {
  display: inherit;
  flex-grow: 1;
  flex-basis: 50%;
  height: 45px;
  margin-left: 20px;
  padding: 5px 15px;

  font-size: $fontSize;
  line-height: 1.125;
  color: $fontColor;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;

  &--textarea {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: 0;

    resize: vertical;
  }
}

.form__button-row {
  padding: 0 20px;
}

.form__hint {
  margin: $fontSize 0 $fontSize;

  font-size: $fontSize;
  line-height: 1.143;
  font-family: $fontFamily;
  text-align: center;
  color: $fontColor;
}
