.main-screen {
  position: relative;

  @media (min-width: $desktop) {
    min-height: 578px;
    margin-bottom: 80px;

    &::after {
      content: "";
      position: absolute;
      top: -119px;
      right: 0;
      z-index: -1;

      width: 50%;
      height: calc(100% + 118px);

      background-color: #65a93c;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}

.main-screen__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 30px 117px 0;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    margin: auto;
    padding-top: 104px;
  }
}

.main-screen__heading {
  order: 1;
  min-height: 305px;
  padding: 27px 20px 0;

  text-align: center;
  color: #ffffff;

  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet) {
    max-width: 500px;
    min-height: auto;
    padding: 0;

    text-align: left;
    color: $titleColor;

    background: transparent;
  }

  @media (min-width: $desktop) {
    padding-left: 3px;
  }
}

.main-screen__heading h2 {
  margin: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;

  @media (min-width: $tablet) {
    margin-bottom: 42px;

    font-size: 60px;
  }
}

.main-screen__heading h3 {
  margin: 25px 0 50px;

  font-weight: normal;
  font-size: $fontSize;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 47px;

    font-size: 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 52px;
  }
}

.main-screen__image {
  display: block;
  margin: -189px auto -2px;

  text-align: center;

  @media (min-width: $tablet) {
    position: relative;
    z-index: -1;

    order: 3;
    margin: -80px -87px 0;
  }

  @media (min-width: $desktop) {
    position: absolute;
    right: 26.5%;
    z-index: 0;
  }
}

.main-screen .button {
  width: calc(100% - 40px);
  margin: auto;

  @media (min-width: $tablet) {
    order: 2;
    width: 250px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 243px;
    margin-left: 3px;
  }
}
