.main-menu {
  position: relative;

  width: 100%;

  .icon-open-menu {
    display: block;
  }

  .icon-close-menu {
    display: none;
  }

  &--shown {
    .main-menu__toggle {
      position: absolute;
      top: -65px;
      right: 0;
    }

    .icon-open-menu {
      display: none;
    }

    .icon-close-menu {
      display: block;
    }

    .main-menu__list {
      display: block;
    }
  }
}

.main-menu__toggle {
  width: 64px;
  height: 64px;
  padding: 20px;

  background-color: transparent;
  border: none;
}

.main-menu__list {
  position: relative;
  top: 0;
  right: 0;

  display: none;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.main-menu__item {
  padding: 20px;

  list-style: none;
  text-align: center;

  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
}

.main-menu__item a {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  text-decoration: none;
}
