.main-menu {
  position: relative;

  width: 100%;
  @media (max-width: $tablet - 1) {
    &--hidden {
      .icon-open-menu {
        display: block;
      }

      .icon-close-menu {
        display: none;
      }

      .main-menu__list {
        display: none;
      }
    }

    &--shown {
      .main-menu__toggle {
        position: absolute;
        top: -65px;
        right: 0;
      }

      .icon-open-menu {
        display: none;
      }

      .icon-close-menu {
        display: block;
      }

      .main-menu__list {
        display: block;
      }
    }

    &--nojs {
      .main-menu__list {
        display: block;
      }

      .main-menu__toggle {
        display: none;
      }
    }
  }
}

.main-menu__toggle {
  width: 64px;
  height: 64px;
  padding: 20px;

  background-color: transparent;
  border: none;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-menu__list {
  position: relative;
  top: 0;
  right: 0;

  width: 100vw;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    position: static;

    display: flex;
    width: auto;
  }
}

.main-menu__item {
  padding: 23px 30px 17px 30px;

  list-style: none;
  text-align: center;

  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    padding: 43px 30px 20px 5px;

    background-color: transparent;
    border-top: none;
  }

  @media (min-width: $desktop) {
    padding: 52px 34px 20px 0;

    &:last-child {
      padding-right: 40px;
    }
  }
}

.main-menu__link {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: rgb(17, 17, 17);
  text-transform: uppercase;
  text-decoration: none;


  @media (min-width: $tablet) {
    padding: 7px 0;

    font-weight: normal;
    font-size: 18px;

    border-bottom: 2px solid transparent;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    @media (min-width: $tablet) {
      border-bottom-color: $accentColor;
    }
  }
}

.main-menu__list--contrast .main-menu__link {
  @media (min-width: $desktop) {
    color: #ffffff;
  }

  &--active {
    @media (min-width: $desktop) {
      border-bottom-color: #ffffff;
    }
  }
}
