.main-screen {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 30px 110px;
  }
}
.main-screen__heading {
  order: 1;
  min-height: 305px;
  padding: 25px 20px 0;

  text-align: center;
  color: #ffffff;

  background-color: #65a93c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: $tablet) {
    max-width: 500px;
    min-height: auto;
    padding: 0;

    text-align: left;
    color: $titleColor;

    background: transparent;
  }
}

.main-screen__heading h2 {
  margin: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;
}

.main-screen__heading h3 {
  margin: $fontSize 0;

  font-weight: normal;
  font-size: $fontSize;
  line-height: 1;
  text-transform: uppercase;
}

.main-screen__image {
  display: block;
  margin: -135px auto 0;

  @media (min-width: $tablet) {
    order: 3;
    margin: 0 auto;
  }
}

.main-screen .button {
  width: calc(100% - 40px);
  margin: auto;

  @media (min-width: $tablet) {
    order: 2;
    width: 250px;
    margin: 0;
  }
}
