.more-item {
  padding: 25px 20px 24px;

  text-align: center;

  border: 1px solid #ededed;

  @media (min-width: $tablet) {
    margin-top: 97px;
    margin-bottom: 44px;
    padding: 20px 20px 40px;
    padding-top: 54px;

    border: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop) {
    margin-top: 111px;
    margin-bottom: 30px;
  }
}

.more-item__text {
  text-align: center;

  @media (min-width: $tablet) {
    max-width: 200px;
    margin: auto;
  }

  h5 {
    margin-top: 23px;
    margin-bottom: 0;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    color: $titleColor;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      max-width: 150px;
      margin: 49px auto 0;

      font-size: 20px;
      line-height: 1;
    }
  }

  h6 {
    margin-top: 10px;
    margin-bottom: 20px;

    font-weight: normal;
    font-size: 12px;
    line-height: 1.333;
    font-family: $fontFamily;
    color: $fontColor;

    @media (min-width: $tablet) {
      margin-top: 24px;
      margin-bottom: 82px;

      font-size: 16px;
    }
  }

  &::before {
    content: "";

    display: block;
    width: 30px;
    height: 30px;
    margin: auto;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpolygon fill='%23231F20' points='30 14 16 14 16 0 14 0 14 14 0 14 0 16 14 16 14 30 16 30 16 16 30 16 '/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;

    @media (min-width: $tablet) {
      width: 60px;
      height: 60px;
    }
  }
}

.more-item__action {
  @media (min-width: $tablet) {
    padding: 0 17px;
  }
}

.more-item__action .button {
  font-size: 16px;

  @media (min-width: $tablet) {
    height: 40px;
  }
}
