.product__title {
  display: block;
  max-width: 100px;

  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: $titleColor;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet) {
    max-width: 135px;
    margin: auto;
    margin-bottom: 25px;

    font-size: 20px;
    text-align: center;
  }
}

.product__info-table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;

  border: none;

  @media (min-width: $tablet) {
    margin-bottom: 30px;

    tr {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

.product__cell {
  font-size: 12px;
  line-height: 1.333;
  font-family: $fontFamily;
  color: $fontColor;

  &:last-child {
    text-align: right;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}
