.program {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    display: flex;
    max-width: $desktop;
    margin: auto;
    padding: 0;
  }
}

.program__item {
  width: 100%;
  margin-top: 20px;
  padding: 20px 20px 0;

  background-color: #f2f2f2;

  @media (min-width: $tablet) {
    padding: 75px 50px 50px;
  }

  @media (min-width: $desktop) {
    margin: 0 40px;
  }
}

.program__title {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0 0 70px;

  font-weight: normal;
  font-size: 24px;
  line-height: 1.542;
  text-align: left;
  color: $titleColor;
  text-transform: uppercase;

  @media (min-width: $tablet) and (max-width: $desktop - 1) {
    right: 0;
    left: auto;

    padding: 0 225px 0 0;

    font-size: 36px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 165px;

    font-size: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 50px;
    height: 50px;

    background-color: $accentColor;
    border-radius: 50%;

    @media (min-width: $tablet) {
      top: 20px;
      right: 0;
      left: auto;

      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop) {
      top: -22px;
      right: auto;
      left: 0;

      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--slim::after {
    top: -3px;
    left: 7px;

    width: 37px;
    height: 51px;

    background-image: url("../img/icon-cat-slim.svg");

    @media (min-width: $tablet) {
      top: 20px;
      right: 7px;
      left: auto;

      width: 148px;
      height: 204px;
    }

    @media (min-width: $desktop) {
      top: -32px;
      right: auto;
      left: 7px;

      width: 74px;
      height: 102px;
    }
  }

  &--pro::after {
    left: -8px;

    width: 64px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet) {
      top: 65px;
      right: -8px;
      left: auto;

      width: 256px;
      height: 112px;
    }

    @media (min-width: $desktop) {
      top: -3px;
      right: auto;
      left: -24px;

      width: 128px;
      height: 56px;
    }
  }
}

.program__item p {
  font-size: $fontSize;
  line-height: 1.286;
  font-family: $fontFamily;
  color: $fontColor;

  @media (min-width: $tablet) {
    padding-right: 225px;

    font-size: 16px;
  }

  @media (min-width: $desktop) {
    margin-top: 50px;
    padding: 0;
  }
}

.program__link {
  display: block;
  padding: 20px 0 20px;

  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: $titleColor;
  text-transform: uppercase;
  text-decoration: none;

  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    font-size: 20px;

    border-top: none;
  }

  &::after {
    content: "";

    display: inline-block;
    width: 24px;
    height: 11px;
    margin-left: 25px;

    background-image: url("../img/icon-right-arrow-long.svg");
  }

  &:hover,
  &:active {
    &::after {
      width: 32px;
      height: 11px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}
