$input-border: #d1d1d1;
$input-bg: #ffffff;
$input-bg-disabled: #e5e5e5;
$input-color: $accentColor;

.radio {
  margin-top: -2px;
  padding: 7px 0;
}

.radio .customlabel {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 46px;

  font-size: 16px;
  line-height: 30px;
  color: $fontColor;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    min-height: 40px;
    padding-left: 60px;

    font-size: 20px;
    line-height: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 30px;
    height: 30px;

    background-color: #ffffff;
    border: 1px solid $input-border;
    border-radius: 50%;

    @media (min-width: $tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    position: absolute;
    top: 9px;
    left: 9px;

    display: inline-block;
    width: 12px;
    height: 12px;

    background-color: $accentColor;
    border-color: $accentColor;
    border-radius: 50%;


    @media (min-width: $tablet) {
      top: 11px;
      left: 11px;

      width: 18px;
      height: 18px;
    }
  }

  &:hover::before,
  &:focus::before {
    border-color: #bababa;
  }
}

.radio input[type="radio"] {
  position: absolute;
  z-index: 1;

  width: 0;
  height: 0;

  cursor: pointer;
  opacity: 0;

  &:focus + .customlabel::before {
    box-shadow: 0 0 2px $accentColor;
  }

  &:checked + .customlabel::after {
    content: "";
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled + .customlabel {
    opacity: 0.65;

    &::before {
      cursor: not-allowed;
    }
  }
}
