.site-header {
  display: flex;
  flex-wrap: wrap;
  min-height: 65px;

  border-bottom: 1px solid #e6e6e6;
}

.site-header__logobox {
  width: 74%;
  height: 65px;
  padding: 0 20px;

  a {
    display: block;
  }
}

.site-header__navigation {
  margin-left: auto;
}
