.site-main {
  background-color: #ffffff;
}

.site-main__title {
  font-size: 36px;
  font-weight: normal;
  color: rgb(17, 17, 17);
  line-height: 1.667;
  text-align: left;
  padding: 21px 20px;
  margin: 0;
}
