.site-header {
  display: flex;
  flex-wrap: wrap;
  min-height: 65px;

  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;

    border-bottom: none;
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
    max-width: $desktop;
    margin: auto;
    padding-top: 50px;
  }
}

.site-header__logobox {
  width: 74%;
  height: 65px;
  padding: 0 20px;

  a {
    display: block;
  }

  @media (min-width: $tablet) {
    flex-basis: 195px;
    align-self: center;
    height: auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 40px;
  }
}

.site-header__navigation {
  margin-left: auto;
}
