.site-main {
  background-color: #ffffff;
}

.site-main__title {
  margin: 0;
  padding: 13px 20px 30px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.667;
  text-align: left;
  color: #111111;

  @media (min-width: $tablet) {
    padding: 10px 30px 35px;

    font-size: 60px;
  }

  @media (min-width: $desktop) {
    padding: 50px 40px 34px;

    @include container;
  }
}
