.slider-controls {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controls__item--indicator {
  position: relative;
  width: 86px;
  height: 16px;
  margin: 0 10px;
  padding: 4px 5px;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(205, 205, 205);

  border-radius: 6px;

  background-color: #ffffff;
}

.slider-indicator {
  display: block;

  position: absolute;

  width: 35px;
  height: 6px;

  border-radius: 6px;

  background-color: #68b738;

  &--before {
    left: 5px;
  }

  &--after {
    right: 5px;
  }
}

.slider-controls__item button {
  font-family: $fontFamily;
  font-size: 16px;
  color: #111111;
  text-transform: uppercase;
  line-height: 1.25;
  border: none;
  background-color: transparent;
  border-bottom: 1px dotted #111111;
  padding: 0;

  &:hover {
    border-bottom-style: solid;
  }

  &:active {
    border-bottom-color: transparent;
  }
}

