.slider-controls {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.slider-controls__item--indicator {
  position: relative;

  width: 86px;
  height: 16px;
  margin: 0 10px;
  padding: 4px 5px;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(205, 205, 205);
  border-radius: 6px;

  @media (min-width: $tablet) {
    width: 425px;
    height: 6px;
    padding: 0;

    background-color: #dcdcdc;
    border: none;
  }
}

.slider-indicator {
  position: absolute;

  display: block;
  width: 35px;
  height: 6px;

  background-color: $accentColor;
  border-radius: 6px;

  &--before {
    left: 5px;
  }

  &--after {
    right: 5px;
  }

  @media (min-width: $tablet) {
    top: -13px;

    width: 32px;
    height: 32px;

    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";

      display: block;
      width: 8px;
      height: 8px;
      margin: 11px 0 0 11px;

      background-color: $accentColor;
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-color: $accentColor;
      box-shadow: 0 0 0 1px $accentColor, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.slider-controls__item button {
  padding: 0;

  font-size: 16px;
  line-height: 1.25;
  font-family: $fontFamilyAccent;
  color: $titleColor;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted $titleColor;

  &:hover {
    border-bottom-style: solid;
  }

  &:active {
    border-bottom-color: transparent;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}
