.stats {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;

  @media (min-width: $tablet) {
    flex-basis: 370px;
    margin-top: -5px;
  }

  @media (min-width: $desktop) {
    flex-basis: 100%;
  }
}

.stats__element {
  display: inline-block;
  width: 50%;

  &:first-child {
    margin-right: 16px;
  }

  &:last-child {
    margin-left: 16px;
  }

  @media (min-width: $tablet) {
    width: 162px;

    &:first-child {
      margin-right: 21px;
    }

    &:last-child {
      margin-left: 21px;
    }
  }
}

.stats__counter {
  min-width: 90px;
  padding: 13px 10px 17px;

  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: $titleColor;
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-style: solid;
  border-color: #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet) {
    padding: 19px 10px 20px;

    font-size: 30px;
  }
}

.stats__position {
  width: 75px;
  margin: -10px auto 0;

  font-size: 12px;
  line-height: 1;
  font-family: $fontFamily;
  text-align: center;
  color: $fontColor;

  background-color: #f2f2f2;

  @media (min-width: $tablet) {
    width: 133px;
    margin-top: -8px;

    font-size: $fontSize;

    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    background-color: #f2f2f2;
  }
}
