.strategy-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    counter-reset: strategyCounter;
  }
}

.strategy-list__item {
  position: relative;

  min-height: 60px;
  margin: 10px 0;
  padding: 0 0 0 70px;

  font-size: $fontSize;
  line-height: 1.286;
  font-family: $fontFamily;
  text-align: left;
  color: $fontColor;


  @media (min-width: $tablet) {
    display: inline-block;
    width: 50%;
    margin: 0 0 70px;
    padding: 0;

    font-size: 16px;

    p {
      max-width: 215px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $accentColor;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet) {
      position: relative;
      top: 0;

      display: block;
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
    }
  }

  &::after {
    content: counter(strategyCounter);
    position: absolute;
    top: -35px;
    right: 135px;
    z-index: -1;

    font-size: 281px;
    line-height: 1;
    font-family: $fontFamilyAccent;
    color: #f2f2f2;

    counter-increment: strategyCounter;
  }

  &--nutrition::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--replacement::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--changes::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
