.strategy {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }
}

.strategy__title {
  margin: 20px 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.667;
  text-align: left;
  color: $titleColor;

  @media (min-width: $tablet) {
    margin: 40px 0;

    font-size: 60px;
  }
}
