.strategy {
  margin-bottom: 42px;
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    margin: auto;
    padding: 0;
  }
}

.strategy__title {
  margin: 17px 0 28px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.667;
  text-align: left;
  color: $titleColor;

  @media (min-width: $tablet) {
    margin: 40px 0;

    font-size: 60px;
  }

  @media (min-width: $desktop) {
    margin-left: 40px;
  }
}
