.strategy-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.strategy-list__item {
  position: relative;

  min-height: 60px;
  margin: 10px 0;
  padding: 0 0 0 70px;

  font-size: 14px;
  line-height: 1.286;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: rgb(68, 68, 68);

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--nutrition::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--replacement::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--changes::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
