.subtitle {
  position: relative;
  width: 100%;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    width: 90%;
    height: 3px;
    background-color: #68b738;
  }
}

.subtitle__text {
  position: relative;
  z-index: 1;
  padding-right: 24px;
  font-size: 24px;
  font-weight: normal;
  color: rgb(17, 17, 17);
  line-height: 1;
  text-align: left;
  background-color: #ffffff;
}
