.subtitle {
  position: relative;

  width: 100%;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    top: $fontSize;
    right: 0;

    width: 90%;
    height: 3px;

    background-color: $accentColor;

    @media (min-width: $tablet) {
      top: 22px;
    }
  }

  @media (min-width: $tablet) {
    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -30px;

      width: 90%;
      height: 3px;

      background-color: $accentColor;
    }
  }
}

.subtitle__text {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding-right: 24px;

  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: $titleColor;

  background-color: #ffffff;

  @media (min-width: $tablet) {
    padding-right: 35px;
    padding-left: 35px;

    font-size: 36px;
  }
}
