.subtitle {
  position: relative;

  width: 100%;
  margin: 0;

  @media (min-width: $desktop) {
    margin: 0 0 0 -40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: $fontSize;
    right: -20px;

    width: 150%;
    height: 3px;

    background-color: $accentColor;

    @media (min-width: $tablet) {
      top: 22px;
      right: -30px;
    }

    @media (min-width: $desktop) {
      top: 22px;
      right: 0;
      left: 0;
    }
  }

  &::before {
    @media (min-width: $tablet) {
      content: "";
      position: absolute;
      top: 22px;
      left: -30px;

      width: 90%;
      height: 3px;

      background-color: $accentColor;
    }

    @media (min-width: $desktop) {
      left: -100%;

      width: 100%;
    }
  }
}

.subtitle__text {
  position: relative;
  z-index: 1;

  display: inline-block;
  max-width: 210px;
  padding-right: 24px;

  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: $titleColor;

  background-color: #ffffff;

  @media (min-width: $tablet) {
    max-width: none;
    padding-right: 42px;
    padding-left: 39px;

    font-size: 36px;
  }
}
