.supplementary {
  margin: 0;
  padding: 0 20px;

  list-style: none;

  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    padding: 0 30px;

    border: none;
  }
}

.supplementary__item {
  padding: 15px 0;

  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    margin-top: -1px;
    padding: 20px 37px;

    border: 1px solid #d9d9d9;
  }
}

.supplementary__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.supplementary__costs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  font-size: $fontSize;
  line-height: 1;
  font-family: $fontFamily;
  color: $fontColor;
}
