.supplementary {
  margin: 0;
  padding: 0 20px;

  list-style: none;

  border-top: 1px solid #cdcdcd;
}

.supplementary__item {
  padding: 15px 0;

  border-bottom: 1px solid #cdcdcd;
}

.supplementary__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
}

.supplementary__costs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1;
  font-family: "Arial", sans-serif;
  color: rgb(68, 68, 68);
}
