$fontFamilyAccent: "Oswald", "Arial", sans-serif;
$fontFamily: "Arial", sans-serif;
$fontSize: 14px;
$fontColor: #444444;
$titleColor: #111111;
$accentColor: #68b738;
$mobile: 320px;
$tablet: 768px;
$desktop: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
