$fontFamilyAccent: "Oswald", sans-serif;
$fontFamily: "Arial", sans-serif;
$fontSize: 14px;
$fontColor: #444444;
$titleColor: #111111;
$accentColor: #68b738;
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

